@mixin buttonColor($bgColor: $buttonColorDefault, $textColor: #fff) {

  background-color: $bgColor;
  color: $textColor;

  &:hover,
  &:focus {
    color: $textColor;
    background-color: mix(#000, $bgColor, 5%);
    outline: none;
  }

  &:active {
    color: $textColor;
    background-color: mix(#000, $bgColor, 10%);
  }
}

@mixin createButton($size: 16) {
  display: inline-block;
  padding: em(13, $size) em(33, $size);
  border: 2px solid transparent;
  text-align: center;
  font-family: inherit;
  font-size: rem($size);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;

  &--small {
    font-size: rem(12);
    padding: em(14, 12) em(25, 12);
  }

}

.button {
  @include createButton();
  @include buttonColor($accent-color, #fff);
}

.button--dark {
  @include buttonColor(#2c2929);
}
