.form-item {
  margin-bottom: rem(15);
  display: block;
}

.form-label {
  display: inline-block;
  padding-bottom: 0.3em;
  vertical-align: middle;
  font-size: 0.95rem;
  cursor: pointer;
}

.form-label--required::after {
  display: inline-block;
  margin-left: 0.2em;
  color: #F44336;
  content: "*";
}

.form-control,
select,
.input-text,
.select2-container .select2-choice {
  @include border-rounded(0);
  padding: rem(10) rem(20);
  width: 100%;
  min-width: 120px;
  outline: none;
  border: 1px solid transparent;
  background: #d5d7e3 ;
  font: inherit;
  font-size: rem(16);
  line-height: normal;
  box-sizing: border-box;
  transition: 0.3s;
}

textarea.form-control,
textarea.input-text {
  max-height: 300px;
  resize: vertical;
}

.form-control:hover,
select:hover,
.input-text:hover {
  background: #f9f9f9;
  border-color: mix(#000, #d5d7e3, 4%);
  color: $base-color;
}

.form-control:focus,
select:focus,
.input-text:focus {
  border-color: mix(#000, #d5d7e3, 8%);
  background: #fff;
}

.form-submit-wrapper {
  margin-top: 1.5rem;
  text-align: center;
}

.form-submit {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: rem(14);
}

.form-submit:hover,
.form-submit:focus {
  // background: #1e3241;
}

.form-submit:active {
  // background: #0b1217;
}

.form-note {
  margin-top: rem(15);
  font-size: rem(15.5);
  p {
    margin-bottom: 0;
  }
}

.wpcf7-form {
  p:empty,
  br {
    display: none;
  }
}
span.wpcf7-not-valid-tip {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 10px;
  background-color: $danger-color;
  color: #fff;
  font-size: rem(11);
}

.form-control {
  &.wpcf7-not-valid {
    border-color: $danger-color;
  }
}

.wpcf7-form-control-wrap {
  display: block;
}

.invalid {

  .form-submit {
    // background-color: $mutedColor;
  }
}

.wpcf7-response-output {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: rem(14);
  padding: 0.5em 0.7em;
  border: 2px solid;
  text-shadow: none;

  &.wpcf7-validation-errors {
    background-color: $warning-color;
    border-color: $warning-color;
    color: mix(#000, $warning-color, 80%);
  }

  &.wpcf7-mail-sent-ok {
    background-color: $success-color;
    border-color: $success-color;
    color: mix(#000, $success-color, 80%);
  }
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  width: 100%;
  box-sizing: border-box;
}

.woocommerce-checkout #payment {
  background: #fff;
}

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
  background-color: #f9f9f9;
}

#add_payment_method #payment div.payment_box:before, .woocommerce-cart #payment div.payment_box:before, .woocommerce-checkout #payment div.payment_box:before {
  border-bottom-color: #f9f9f9;
}
