.header-logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: rem(13);
}

.header-logo__image {

}

.header-logo__text {
  margin: 0;
  margin-left: 1em;
  span {
    display: block;
  }
}
