.header-phones {
  display: flex;
  align-items: center;
  margin-right: 0;
  font-size: rem(15);
}

.header-phones__icon-holder {

}

.header-phones__icon {
  width: rem(25);
  height: rem(25);
  color: $accent-color;
}

.header-phones__list {
  @include clear-list();
  margin-right: 1em;

  li {

  }

  a {
    color: #7f889d;
    &:hover {
      color: currentColor;
    }
  }

  span {
    font-weight: 600;
    color: $base-color;
  }
}


@media (max-width: $media-tablet-down) {
  .header-phones {
  }

  .header-phones__icon-holder {
    display: none;
  }

  .header-phones__list {
    text-align: center;
  }
}
