.index-brands {
  background-color: #f0f1f6;
}

.index-brands__list {
  @include clear-list();
  align-items: center;
  margin-bottom: -2rem;
}

.index-brand {
  @include createFlexColumn(6);
  padding-left: $grid-gutter * 1px;
  padding-right: $grid-gutter * 1px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

@media (min-width: $media-mobile-up) {
  .index-brand {
    @include createFlexColumn(4);
  }
}

@media (min-width: $media-tablet-up) {
  .index-brand {
    @include createFlexColumn(3);
  }
}

@media (min-width: $media-laptop-up) {
  .index-brand {
    flex-basis: calc(100% / 7);
    max-width: calc(100% / 7);
  }
}
