.index-section {
  padding-top: rem(48);
  padding-bottom: rem(48);
  // outline: 1px solid #45f;
}

.index-section__headline {
  margin-bottom: 30px;
}

.index-section__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: rem(36);
  text-align: center;
}

.index-section__body {

}
