.products-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1em;
}

.products__more-link-wrapper {
  margin-top: rem(35);
  text-align: center;
}

.products__more-link {
  display: inline-block;
  font-family: $secondary-font;
  color: currentColor;
  line-height: 1.5;
  border-bottom: 2px solid $accent-color;
  transition: color 0.25s;
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 35px 25px;
  position: relative;
  border: 2px solid #f1f1f1;
  font-size: rem(12);
  box-sizing: border-box;
  transition: border-color 0.3s;

  &:before {
    // content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #f1f1f1;
  }

  &:hover {
    border-color: $base-color;
  }


  @media (min-width: 400px) {
    @include createFlexColumn(6);
  }

  @media (min-width: $media-mobile-up) {
    @include createFlexColumn(3);
  }

  @media (min-width: $media-tablet-up) {
    @include createFlexColumn(3);
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: rem(12);
  line-height: 1.2em;
  min-height: calc(3 * 1.2em);
}

.product-card__properties {
  @include clear-list();
  font-size: rem(10);
  color: #414141;
  margin-bottom: 20px;
  li {

  }
}

.product-card__image-holder {
  @include fitObject(180, 143);
  margin-top: auto;
  margin-bottom: 35px;
  img {
    object-fit: contain;
  }
}

.product-card__price {
  font-size: rem(13);
  line-height: rem(10 + 13 * 2 + 8);
}

.product-card__actions {
  display: flex;
  justify-content: space-between;
}

.product-card__actions-column {
  overflow: hidden;
  height: rem(10 + 13 * 2 + 7.5);
}

.product-card__switcher {
  position: relative;
  height: 100%;
  transition: transform 0.3s;
}

.product-card__switcher-slot {
  margin-bottom: 1px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-card:hover .product-card__switcher {
  transform: translateY(calc(-100% + 1px));
  // transform: translateY(-100%);
}

.product-card__action {
  @include createButton(10);
}

.product-card__more {
  @include buttonColor($accent-color, #fff);
}

.product-card__add-to-cart {
  @include buttonColor(#2c2929);
  padding-left: em(13, 10);
  padding-right: em(13, 10);
}

@media (min-width: $media-laptop-up) {
  .product-card {
    
  }
}
