.products-grid {
  display: flex;
  flex-wrap: wrap;
}

.products__more-link-wrapper {
  margin-top: rem(35);
  text-align: center;
}

.products__more-link {
  display: inline-block;
  font-family: $secondary-font;
  color: currentColor;
  line-height: 1.5;
  border-bottom: 2px solid $accent-color;
  transition: color 0.25s;
  letter-spacing: 0.03em;
}

.product-card {
  width: 100%;
  padding: 15px 10px;
  position: relative;
  outline: 2px solid #f1f1f1;
  outline-offset: -1px;
  font-size: rem(12);
  box-sizing: border-box;
  transition: border-color 0.3s;
  background-color: #fff;

  &:hover,
  &:focus {
    z-index: 1;
    outline: 2px solid $base-color;
    transition: outline 0.35s;
  }

  @media (min-width: 400px) {
    @include createFlexColumn(6);
  }

  @media (min-width: 568px) {
    @include createFlexColumn(3);
  }

  @media (min-width: $media-tablet-up) {
    // @include createFlexColumn(3);
    padding: 35px 25px;
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 7px;
  font-family: $primary-font;
  font-size: rem(12);
  font-weight: 600;
  line-height: 1.2em;
  min-height: calc(3 * 1.2em);
}

.product-card__properties {
  @include clear-list();
  font-size: rem(10);
  color: #414141;
  margin-bottom: 20px;
  li {

  }
}

.product-card__image-holder {
  @include fitObject(180, 143);
  margin-top: auto;
  margin-bottom: 20px;
  img {
    object-fit: contain;
  }
}

.product-card__price {
  font-size: rem(13);
  line-height: rem(10 + 13 * 2 + 8);
}

.product-card__actions {
}

.product-card__actions-column {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-card__switcher {
  position: relative;
  height: 100%;
  transition: transform 0.3s;
}

.product-card__switcher-slot {
  margin-bottom: 1px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-card__action {
  @include createButton(10);
  display: block;
  width: 100%;
}

.product-card__more {
  @include buttonColor($accent-color, #fff);
}

.product-card__add-to-cart {
  @include buttonColor(#2c2929);
}

@media (max-width: $media-tablet-down) {
  .product-card__action {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: $media-laptop-up) {

  .product-card__image-holder {
    margin-bottom: 35px;
  }

  .product-card__actions {
    display: flex;
    justify-content: space-between;
  }

  .product-card:hover .product-card__switcher {
    transform: translateY(-100%);
  }

  .product-card__actions-column {
    height: rem(10 + 13 * 2 + 7.5);
    overflow: hidden;
    margin-bottom: 0;
  }

  .product-card__add-to-cart {
    padding-left: em(13, 10);
    padding-right: em(13, 10);
  }
}
