.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.site-footer__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-footer__developer {
  margin-bottom: 0;

  span {
    display: inline-block;
    color: $danger-color;
    animation: heartbeat 2.2s infinite;
  }

  a {
    color: currentColor;
    border-bottom-width: 2px;
    border-bottom-color: $accent-color;
    &:hover {
      color: $accent-color;
    }
  }
}

@keyframes heartbeat {
  0%, 40%, 80%, 100% {
    transform: scale(.8);
  }
  20%, 60% {
    transform: scale(1);
  }
}
