.site-header {
  border-bottom: 5px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.site-header__inner {
  @include container();
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__column {
  margin-right: 60px;
}

@media (max-width: $media-tablet-down) {
  .site-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
