.topbar {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #7f889d;
  font-size: rem(12);
  background-color: #242a38;

  p {
    margin-bottom: 0;
    width: 100%;
  }
}

.topbar__inner {
  @include container();
  display: flex;
  justify-content: center;
}

.topbar__link {
  display: block;
  text-align: center;
  color: #fff;
}

.topbar__text-link {
  vertical-align: middle;
}

.topbar__icon-link {
  margin-left: 0.5em;
}

@media (min-width: $media-mobile-up) {
  .topbar {
    p {
      width: auto;
    }
  }

  .topbar__link {
    display: inline-block;
    color: currentColor;
  }

  .topbar__inner {
    justify-content: space-between;
  }
}
